{% extends "layout.html" %}
{% block title %}
Delete References
{% endblock %}
{% block body %}

<div>
    <a href="/">Back to Home</a>
</div>


<h2>References</h2>

<form action="/del_references" method="post">

<b>Select Book to be deleted:</b>
    {% if books %}
        {% for book in books %}
            <ul>
                <input type="checkbox" name="books" value="{{ book.key }}" onclick="clicked(event)" > Key: {{ book.key }} ({{ book.author }}, {{ book.title }}, {{ book.year }}, {{ book.publisher }})
            </ul>
        {% endfor %}
    {% else %}
            <ul>
                <li>No book references yet.</li>
            </ul>
    {% endif %}
<b>Select Article to be deleted:</b>
    {% if articles %}
        {% for article in articles %}
            <ul>
                <input type="checkbox" name="articles" value="{{ article.key }}" onclick="clicked(event)"> Key: {{ article.key }} ({{ article.author }}, {{article.title }}, {{ article.year }}, {{ article.journal }})
            </ul>
        {% endfor %}
    {% else %}
            <ul>
                <li>No article references yet.</li>
            </ul>
    {% endif %}
<b>Select Inproceedings to be deleted:</b>
    {% if inproceedings %}
        {% for inproceeding in inproceedings %}
            <ul>
                <input type="checkbox" name="inproceedings" value="{{ inproceeding.key }}" onclick="clicked(event)"> Key: {{ inproceeding.key }} ({{ inproceeding.author }}, {{ inproceeding.title }}, {{ inproceeding.year }}, {{ inproceeding.booktitle }})
            </ul>
        {% endfor %}
    {% else %}
            <ul>
                <li>No inproceedings references yet.</li>
            </ul>
    {% endif %}

<br>
<button type="submit">
  Delete
</button>

<script type="text/javascript">
    function clicked() {
        var txt
       if (confirm('Are you sure you want to delete the item?')) {
           currentForm.submit();
       } else {
           return false;
       }
    }

</script>



</form>

{% endblock %}