{% extends "layout.html" %}
{% block title %}
Edit Article Reference
{% endblock %}
{% block body %}

<h2>Edit Article Reference</h2>

<div>
    <a href="/view_articles">Back to Articles</a>
</div>

<form action="/update_article" method="POST">
    <input type="hidden" name="old_key" value="{{ article.key }}">
    
    <div>
        <label for="key">Key:</label><br>
        <input type="text" id="key" name="key" value="{{ article.key }}" required>
    </div>
    
    <div>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="{{ article.author }}" required>
    </div>
    
    <div>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ article.title }}" required>
    </div>
    
    <div>
        <label for="year">Year:</label><br>
        <input type="text" id="year" name="year" value="{{ article.year }}" required>
    </div>
    
    <div>
        <label for="journal">Journal:</label><br>
        <input type="text" id="journal" name="journal" value="{{ article.journal }}" required>
    </div>
    
    <div>
        <input type="submit" value="Update Article">
    </div>
</form>

{% endblock %}