{% extends "layout.html" %}

{% block title %}
LaTex BibTex
{% endblock %}

{% block body %}

<h2>Welcome to BibTex References</h2>

<!-- This part is commented -->
 <!-- Start

<div>
  things still unfinished: {{ unfinished }}
</div>

<ul>
  {% for todo in todos %}
    <li style="display: flex">
      <div>
        {{ todo }} 
      </div>
      {% if not todo.done %}
        <form action="/toggle_todo/{{ todo.id }}" method="post" style="margin-left: 10px;">
          <button type="submit">mark as done</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul> End -->

<div>
  <a href="/new_todo">Create a new Reference</a>
</div>

{% endblock %}