{% extends "layout.html" %}

{% block title %}
LaTex BibTex
{% endblock %}

{% block body %}

<h2>Welcome to BibTex References</h2>

<!-- This part is commented -->
 <!-- Start

<div>
  things still unfinished: {{ unfinished }}
</div>

<ul>
  {% for todo in todos %}
    <li style="display: flex">
      <div>
        {{ todo }} 
      </div>
      {% if not todo.done %}
        <form action="/toggle_todo/{{ todo.id }}" method="post" style="margin-left: 10px;">
          <button type="submit">mark as done</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul> End -->

<div>
  <a href="/new_book">Create a Book Reference</a>
</div>
</p>

<div>
  <a href="/new_article">Create an Article Reference</a>
</div>
</p>

<div>
  <a href="/new_inproceedings">Create an Inproceedings Reference</a>
</div>
</p>

<h3>View References</h3>
<div>
    <a href="/view_books">View Book References</a>
</div>

<div>
    <a href="/view_articles">View Article References</a>
</div>

<div>
    <a href="/view_inproceedings">View Inproceedings References</a>
</div>
</p>
<h3>Delete References</h3>
<div>
  <a href="/delete_reference">Delete References</a>
</div>

<hr>
<div>
  <a href="/download">Download Bibtex file</a>
</div>

{% endblock %}