{% extends "layout.html" %}

{% block title %}
Create a new Reference
{% endblock %}

{% block body %}

<h2>Create a new reference</h2>

<h3>Here you can add an Article Reference</h3>

<div>
  <a href="/">Back to Home</a>
</div>

<form action="/create_article" method="post">
  <label for="key">Key:</label>
  <input type="text" name="key"></p>
  <label for="author">Author:</label>
  <input type="text" name="author"></p>
  <label for="title">Title:</label>
  <input type="text" name="title"></p>
  <label for="year">Year:</label>
  <input type="text" name="year"></p>
  <label for="journal">Journal:</label>
  <input type="text" name="journal"></p>
  <br>
  <button type="submit">
    Create
  </button>
</form>

{% endblock %}