{% extends "layout.html" %}
{% block title %}
View Book References
{% endblock %}
{% block body %}

<h2>Book References</h2>

<div>
    <a href="/">Back to Home</a>
</div>

<div>
    {% if books %}
        {% for book in books %}
            <div>
                <p>Key: {{ book[0].key }}</p>
                <p>Author: {{ book[0].author }}</p>
                <p>Title: {{ book[0].title }}</p>
                <p>Year: {{ book[0].year }}</p>
                <p>Publisher: {{ book[0].publisher }}</p>
                <br>
                <p>{{ book[1] }}</p>
                {% for line in book[2] %}
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ line }}</p>
                {% endfor %}
                <p>{{ book[3] }}</p>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>No book references yet.</p>
    {% endif %}
</div>

{% endblock %}