{% extends "layout.html" %}
{% block title %}
View Book References
{% endblock %}
{% block body %}

<h2>Book References</h2>

<div>
    <a href="/">Back to Home</a>
</div>
<br>
<div class="list">
    <hr>
    {% if books %}
    {% for book in books %}
    <div class="item">
        <div class="info">
            <p>Key: {{ book[0].key }}</p>
            <p>Author: {{ book[0].author }}</p>
            <p>Title: {{ book[0].title }}</p>
            <p>Year: {{ book[0].year }}</p>
            <p>Publisher: {{ book[0].publisher }}</p>
        </div>    
        <div class="bib">
            {{ book[1] }}
            {% for line in book[2] %}
            {{ line }}
            {% endfor %}
            {{ book[3] }}
        </div>
        <br>
    </div>
    <br>
    <a href="/edit_book/{{ book[0].key }}" class="button">Edit Reference</a>
    <hr>
    {% endfor %}
    {% else %}
    No book references yet.
    {% endif %}
</div>

{% endblock %}