{% extends "layout.html" %}
{% block title %}
View Inproceedings References
{% endblock %}
{% block body %}

<h2>Inproceedings References</h2>

<div>
    <a href="/">Back to Home</a>
</div>

<div class="list">
    {% if inproceedings %}
    {% for inproceeding in inproceedings %}
    <div class="info">
        <p>Key: {{ inproceeding[0].key }}</p>
        <p>Author: {{ inproceeding[0].author }}</p>
        <p>Title: {{ inproceeding[0].title }}</p>
        <p>Year: {{ inproceeding[0].year }}</p>
        <p>Booktitle: {{ inproceeding[0].booktitle }}</p>

        {{ inproceeding[1] }}
        {% for line in inproceeding[2] %}
            {{ line }}
        {% endfor %}
        {{ inproceeding[3] }}

        <a href="/edit_inproceedings/{{ inproceeding[0].key }}" class="button">Edit Reference</a>
        <hr>
    {% endfor %}
    {% else %}
    No inproceedings references yet.
    {% endif %}
</div>

{% endblock %}